mat-card {
  margin-bottom: 8px;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  mat-card-title {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
  }
}

.info-row {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
}
